<ion-content>
 <ion-toolbar>
  <ion-img class="logo_indra" src="assets/icon/car_indra.png"></ion-img>
 </ion-toolbar>
 <ion-item lines="none">
  <i-text>
    <h4><b>Actividad añadida</b></h4>
  </i-text>
 </ion-item>
 <ion-item lines="none">
  <i-text>
    <p>Actividad guardada en Solicitudes.</p>
  </i-text>
 </ion-item>
 <ion-item lines="none">
  <ion-grid class="toolbar_footer">
    <ion-row>
      <ion-col (click)="goToCulturalWokrShop()">
        <ion-text class="text_link">SEGUIR COMPRANDO</ion-text>
      </ion-col>
      <ion-col>
        <ion-text class="text_link">SOLICITUDES</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
 </ion-item>
</ion-content>
